<h1><i class='icon-pencil'></i>Posts</h1>

<ul class='main-list well'>

<% if current_user.try(:admin?)%>
<a href="<%= new_path %>" class='btn btn-small btn-primary pull-right'><i class='icon-plus icon-white'></i>New Post</a>
<% end %>

<br>
<br>
<% @posts.each do |post| %>
<li class='row'>
    <div class='span6'><%= post.title%></div>
    <div class='pull-right'>
    <a href="<%= post.id%>-<%=post.title %>.html" class='btn btn-mini'><i class='icon-zoom-in '></i></a>

    <% if current_user.try(:admin?)%>
    <a href="edit/<%= post.id%>" class="btn btn-mini"><i class='icon-edit'></i></a>
    <a href="<%= delete_path(post.id) %>" class='btn btn-danger btn-mini' data-confirm="Are you sure?" data-method="delete"><i class='icon-trash'></i></a>
    <% end %>

  </div>
</li>
<% end %>
</ul>
<!--<h3>Customs Style</h3></br>
<a href='#' class='joker'>joker</a>

    <div class="input-prepend">
      <span class="add-on" style='margin-top: -8px'><i class="icon-envelope"></i>Email</span><input class="span2" id="inputIcon" type="text">
    </div>
 -->


