<!DOCTYPE html>
<html>
<head>
  <title>Joker on Rails</title>
  <%= var CKEDITOR_BASEPATH = '/assets/javascripts/ckeditor/'; %>
  <%= stylesheet_link_tag    "application", :media => "all" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
  <link rel="icon" href="favicon.ico" type="image/x-icon">
  <link rel="shortcut icon" href="favicon.ico" type="image/x-icon">

  <script>
  	window.setTimeout( hideTagFn, 4000);
	function hideTagFn(){
    $('.alert').fadeOut('slow');
  	}
  	$('#post_body').ckeditor();
  </script>

</head>
<body>
	
	
<%= render 'layouts/header' %>
<div class='container'>
	<div class='content'>
		<div class='noticealert' style="height:40px;margin-top:-20px">
			<% flash.each do |name,msg| %>
				<div class="alert alert-<%= name == :notice ? 'success' : 'error' %>">
					<a class='close' data-dismiss="alert">x</a>
					<%= msg %>
				</div>
			<% end %>
		</div>


		<%= yield %> 


		<br><br>
		<%= render 'layouts/footer' %>
	</div>
</div>
<br><br><br>


</body>
</html>

